@import 'variables';

.main-container {
  width: $main-container-width;
}

.data-container {
  display: flex;
  align-items: center;
  height: 100%;

  &--icon {
    margin-right: $spacing-xs;
    height: $icon-size-small;
    width: $icon-size-small;
  }

  &--product {
    text-transform: capitalize;
  }

  &--facebook {
    height: $icon-size-medium;
    width: $icon-size-medium;
  }
}

.data__title {
  display: flex;
  text-transform: capitalize;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: $spacing-sm;

    &--name {
      font-size: $font-size-md;
      font-weight: bold;
    }

    &--subname {
      font-size: $font-size-sm;
    }
  }

  &--icon {
    width: $icon-size-large;
    height: $icon-size-large;
  }
}

.information {
  &__basic {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    &:first-child {
      margin-right: $spacing-xxl;
    }

    img {
      width: $icon-size-small;
      height: $icon-size-small;
    }
  }
}
