@import 'variables';

#leaflet-map {
  height: $map-height-mobile;
  min-height: 300px;
  width: 100%;
  z-index: $z-index-map;
  position: relative;
  box-sizing: border-box;

  @include tablet {
    height: $map-height-tablet;
    min-height: 400px;
  }

  @include desktop {
    height: $map-height-desktop;
    min-height: auto;
  }
}

.leaflet-left .leaflet-control {
  margin-left: 0;
}

.leaflet-bottom .leaflet-control {
  margin-bottom: 0;
}

.leaflet-right .leaflet-control {
  margin-right: 0;
}

.map-icon {
  height: $icon-size-large;
  width: $icon-size-large;
}
